# For testing, '***REMOVED***' hash
export TARGET_ROOT_PASSWORD_HASH='***REMOVED***'
export TARGET_ADMIN_PASSWORD_HASH='***REMOVED***'
# SSH Public Key
export TARGET_ADMIN_SSH_PUB_KEY="***REMOVED***"
export TARGET_SB_ENABLED=True
#export TARGET_SB_ENABLED=False

# Dell OptiPlex UEFI Bug Workaround
# OptiPlex 7050
export TARGET_NON_PRINT_CHAR='\310'
# OptiPlex 3070
#export TARGET_NON_PRINT_CHAR='\312'
export TARGET_OPTIPLEX_FIX=True
