# ==============================================================================
# Instructions: Move this to '.env' and fill in actual values
# '.env' is already on `.gitignore`
# ==============================================================================

# --- Bootstrap Node: Network Interfaces ---
# Use 'ip link' to find to find actual interface names of the bootstrap host
export BOOTSTRAP_INT="<WHERE_PXE_WILL_BE_USED>"
export WAN_INT="<WHERE_INTERNET_CONNECTION_IS>"

# --- Control Node: System Architecture & Host info  ---
# Use `True` or `False` depending on how the control node will be configured
export TARGET_SB_ENABLED=True
# Use `x86_64` or `aarch64` depending on how the control node will be configured
export TARGET_HOST_ARCH="x86_64"
export TARGET_HOST_ADMIN="<ADMIN_USERNAME>"
export TARGET_HOST_NAME="<TARGET_HOSTNAME>"
export TARGET_HOST_TZ="<TARGET_TZ>"

# --- Control Node: User & Password Settings ---
# Generate SHA-512 hashes using: openssl passwd -6
export TARGET_ROOT_PASSWORD_HASH='<REPLACE_WITH_SHA512_HASH>'
export TARGET_ADMIN_PASSWORD_HASH='<REPLACE_WITH_SHA512_HASH>'
# Samba requires an MD4/NTLM hash
# Generate with: echo -n "password" | iconv -t utf16le | openssl md4
export TARGET_ADMIN_SAMBA_PASSWORD="<SAMBA_PASSWORD>"
export TARGET_ADMIN_SAMBA_PASSWORD_HASH="<REPLACE_WITH_NTLM_HASH>"
# --- SSH Access ---
# Use ssh public key string here (e.g., ssh-rsa AAA...)
export TARGET_ADMIN_SSH_PUB_KEY="<SSH_PUBLIC_KEY>"

# --- Control Node: External Repositories ---
# For deploying dotfiles repo into the control node
export GITHUB_USERNAME="<GITHUB_USERNAME>"
export GITHUB_REPO="<DOTFILES_REPO>"

# --- Control Node: Database & Services (e.g., UniFi Controller) ---
# UniFi Controller data
export UNIFI_MONGO_ROOT_PASS="<UNIFI_ROOT_SECURE_PASSWORD>"
export UNIFI_MONGO_PASS="<UNIFI_GEN_SECURE_PASSWORD>"

# NetBox data
export NETBOX_POSTGRES_PASS="<NETBOX_POSTGRES_SECURE_PASSWORD>"
export NETBOX_SECRET_KEY="<NETBOX_SECRET_KEY>"
export NETBOX_ALLOWED_HOSTS="<NETBOX_ALLOWED_HOSTS>"
export NETBOX_SUPERUSER_NAME="<NETBOX_SUPERUSER_NAME>"
export NETBOX_SUPERUSER_EMAIL="<NETBOX_SUPERUSER_EMAIL>"
export NETBOX_SUPERUSER_PASS="<NETBOX_SUPERUSER_SECURE_PASSWORD>"

# Runner
export RUNNER_IMAGE="<URL_CUSTOM_RUNNER_IMAGE>"
export GH_RUNNER_NAME="<RUNNER_NAME>"
export GH_RUNNER_LABELS="<RUNNER_LABELS>"
export GH_URL="<URL_OF_GITOPS_REPO>"
export GH_PAT="<PAT_TOKEN_USED>"
export GHCR_PULL_PAT="<GHCR_B64_PAT_TOKEN_USED>"
