# For testing, '***REMOVED***' hash
export TARGET_ROOT_PASSWORD_HASH='***REMOVED***'
export TARGET_ADMIN_PASSWORD_HASH='***REMOVED***'
# SSH Public Key
export TARGET_ADMIN_SSH_PUB_KEY="***REMOVED***"
export TARGET_SB_ENABLED=True
#export TARGET_SB_ENABLED=False
