# Containerized dnsmasq.conf - Managed by Ansible/Jinja2

# Listen on host's VLAN interfaces
{% for vlan in router_vlans %}
interface=lan0.{{ vlan.id }}
{% endfor %}
bind-dynamic

# Disable DNS functionality (since only need DHCP)
port=0

# Load static DHCP reservations and persist dynamic leases
dhcp-hostsfile=/etc/dnsmasq.d/dhcp-hosts.conf
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases

{% for vlan in router_vlans %}
{% set subnet = vlan.ipv4.split('.')[0:3] | join('.') %}
# VLAN {{ vlan.id }} ({{ vlan.name }})
dhcp-range=set:vlan{{ vlan.id }},{{ subnet }}.100,{{ subnet }}.200,255.255.255.0,24h
dhcp-option=tag:vlan{{ vlan.id }},option:router,{{ vlan.ipv4 }}
dhcp-option=tag:vlan{{ vlan.id }},option:dns-server,{{ vlan.ipv4 }}

{% endfor %}
# Force a safe MTU
dhcp-option=26,1460

# Enable logging
log-facility=-
log-dhcp
log-queries
