# dnsmasq Podman Quadlet config - Managed by Ansible/Jinja2
[Unit]
Description=Container dnsmasq
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=dnsmasq
Image=docker.io/4km3/dnsmasq
Volume={{ base_dir }}/configs/dnsmasq.conf:/etc/dnsmasq.conf:Z
AddCapability=NET_ADMIN NET_BIND_SERVICE NET_RAW
Network=host

[Service]
Restart=on-failure
StartLimitBurst=5

[Install]
WantedBy=default.target
