# PXE containerized grub.cfg - Managed by Ansible/Jinja2
set default="0"
set timeout=5

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

menuentry 'Install {{ os_base }} {{ version }} (Secure Boot)' --class fedora --class gnu-linux --class gnu --class os {
    linux /{{ selected_arch }}/vmlinuz inst.repo=http://{{ bootstrap_ip }}:{{ pxe_http_port }}/{{ selected_arch }}/BaseOS inst.stage2=http://{{ bootstrap_ip }}:{{ pxe_http_port }}/{{ selected_arch }}/ inst.ks=http://{{ bootstrap_ip }}:{{ pxe_http_port }}/{{ selected_arch }}/ks.cfg ip=dhcp rd.net.timeout.carrier=40 rd.neednet=1 video=1920x1080
    initrd /{{ selected_arch }}/initrd.img
}
