# PXE containerized nginx.conf - Managed by Ansible/Jinja2
events {
    worker_connections 1024;
}

http {
  server {
    listen {{ bootstrap_http_port }} default_server;
    server_name _;

    location / {
      root /usr/share/nginx/html;
      autoindex on;
      sendfile on;
      tcp_nopush on;
      keepalive_timeout 65;

      # Critical for PXE: prevents the browser/client from trying to "render" the boot files.
      default_type application/octet-stream;
    }
  }
}
